<<<<<<< HEAD
$color1: #060b0e;
$color2: #152229;
$color3: #213e4b;
$color4: #2f5e6f;
$color5: #388697;

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
=======
$color1: #060b0e;
$color2: #152229;
$color3: #213e4b;
$color4: #2f5e6f;
$color5: #388697;

$dark-red: #D00000;
$light-red: #f5828f;

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
>>>>>>> refs/remotes/origin/master
}