<<<<<<< HEAD
// $width-wide: ;
$width-mid: 950px;
// $width-mobile: ;
// $width-land: ;

.container {
    // max-width: $width-mid;
    margin: auto;
    overflow: hidden;
}

.standart-btn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px
}

.btn {
    &-dark {
        @extend .standart-btn;
        background: $color1;
        color: #fff;

        &:hover {
            background: $color2;
        }
    }

    &-light {
        @extend .standart-btn;
        background: #fff;
        color: $color1;

        &:hover {
            background: $color4;
            color: #fff;
        }
    }
}
=======
// $width-wide: ;
$width-mid: 950px;
// $width-mobile: ;
// $width-land: ;

.container {
    // max-width: $width-mid;
    margin: auto;
    overflow: hidden;
}

.standart-btn {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px
}

.btn {
    &-dark {
        @extend .standart-btn;
        background: $color1;
        color: #fff;

        &:hover {
            background: $color2;
        }
    }

    &-light {
        @extend .standart-btn;
        background: #fff;
        color: $color1;

        &:hover {
            background: $color4;
            color: #fff;
        }
    }
}

#overlay {
    position: absolute;
    height: 125%;
    width: 100%;
    top: 0;
    left: 0;
    background: $color1;
    opacity: .8;
    z-index: 10;
    visibility: hidden;
}
>>>>>>> refs/remotes/origin/master
