@import "config";
@import "utils";

$img-width: 200px;
$img-height: 200px;

#feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc($img-width + 10px));
    gap: .3rem;

    padding: 1rem;

    .post {

        &-img {
            width: $img-width;
            height: $img-height;
        }
    }
}


